# Environment variables
.env
.env.local
.env.*.local

# Docker volumes
postgres_data/
redis_data/
static_volume/
media_volume/

# Python & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Database
db.sqlite3
*.sqlite3

# Static & media
staticfiles/
/static/
media/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule

# Credentials
cookies.txt
temp_cookies.txt

#Docker files
docker-compose.prod.yml
Dockerfile.prod
Dockerfile
nginx.conf